{% if page.layout == 'single' %}
<div class="notice--warning">
        <p><b>SUPPORT JobsJohor.com</b></p>
        Join JobsJohor social media group right now !!<br />
        Get the latest Johor jobs information directly from your fav social media, either

        <a href="https://t.me/johorjobs" rel="noopenner nofollow" target="_blank"><i class="fab fa-fw fa-telegram"
                        aria-hidden="true"></i><span> Telegram</span></a> /

        <a href="https://www.facebook.com/johorkosong" rel="noopenner nofollow" target="_blank"><i
                        class="fab fa-fw fa-facebook" aria-hidden="true"></i><span> Facebook</span></a> /

        <a href="https://www.linkedin.com/company/johorjobs" rel="noopenner nofollow" target="_blank"><i
                        class="fab fa-fw fa-linkedin" aria-hidden="true"></i><span> LinkedIn</span></a>
</div>
{% endif %}